<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
    </head>

    <body>
        <h1>Smoothiearkisto</h1>

        <ul>
            <li th:each="smoothie: ${smoothiet}">
                <a th:href="@{smoothie/{smoothieId}/(smoothieId=${smoothie.id})}" th:text="${smoothie.nimi}">testi</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="smoothieluonti/">Luo uusi smoothie</a>
            </li>
            <li>
                <a href="ainesosa/">Tarkastele ja lisää aineksia</a>
            </li>
        </ul>


    </body>

</html>
